{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header_top: Items for the header top region.
 * - page.header: Items for the header region.
 * - page.main_menu: Items for the main menu region.
 * - page.preface_top: Items for the preface top region.
 * - page.preface_bottom: Items for the preface bottom region.
 * - page.help: Items for the help region.
 * - page.content: Items for the content region.
 * - page.sidebar_first: Items for the sidebar first region.
 * - page.sidebar_second: Items for the sidebar second region.
 * - page.postscript_top: Items for the postscript top region.
 * - page.postscript_bottom: Items for the postscript bottom region.
 * - page.footer: Items for the footer region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div id="page-wrapper">
  <div id="page">
    <div id="header-top" class="clearfix">
      <div class="container">
        page.header_top
        {{ page.header_top }}
      </div>
    </div>
    <header id="header" class="clearfix">
      <div class="container">
        page.header
        {{ page.header }}
      </div>
    </header>
    <div id="preface-top" class="clearfix">
      <div class="container">
        page.preface_top
        {{ page.preface_top }}
      </div>
    </div>
    <div id="main-wrapper" class="clearfix">
      <div class="container">
        <div id="sidebar-first" class="grid12-3">
          <aside class="sidebar gutter">
            page.sidebar_first
            {{ page.sidebar_first }}
          </aside>
        </div>
        <div id="preface-bottom" class="grid12-9">
          <div class="container gutter">
            page.preface_bottom
            {{ page.preface_bottom }}
          </div>
        </div>
        <div id="main" class="grid12-9">
          <main id="content" class="grid12-6">
            <section class="section gutter">
              page.help
              {{ page.help }}
              <a id="main-content" tabindex="-1"></a>
              page.content
              {{ page.content }}
            </section>
          </main>
          <div id="sidebar-second" class="grid12-3">
            <aside class="sidebar gutter">
              page.sidebar_second
              {{ page.sidebar_second }}
            </aside>
          </div>
          <div id="postscript-top" class="grid12-9">
            <div class="container gutter">
              page.postscript_top
              {{ page.postscript_top }}
            </div>
          </div>
        </div> 
      </div>
    </div>
    <div id="postscript-bottom" class="clearfix">
      <div class="container">
        page.postscript_bottom
        {{ page.postscript_bottom }}
      </div>
    </div>
    <footer id="footer">
      <div class="container">
        {{ page.footer }}
      </div>
    </footer>
  </div>
</div>